/** BASE STYLES **/
body {
  color: white;
  background-color: hsl(218, 28%, 13%);
  display: flex;
  justify-content: center;
  align-items: center;
	font-size: 1em;
	max-width: 1200px;
	width: 90%;
  margin-left: 5%;
	flex-flow: row wrap;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

html {
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 90%;
}

/** NAV STYLES **/
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 10px;
}

.header img {
  width: 20%;
  padding-right: 30%;
  margin: 0;
}

.header ul li {
  display: inline-block;
  font-size: .75em;
  margin: 0 8px;
}

/** INTRO STYLES **/
.intro img {
  padding-top: 40px;
  margin-left: 5%;
}

.intro h1 {
  font-size: 1.7em;
  line-height: 2.5rem;
}

.intro h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  width: 85%;
  margin-left: 7.5%;
}

.intro button {
  background-color: hsl(176, 68%, 64%);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  margin-top: 10px;
  width: 225px;
}

.intro button:hover {
  transform: scale(1.1);
}

/** OFFERINGS STYLES **/
.offerings {
  padding-top: 100px;
}

.offering {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 60px;
}

.offering img {
  width: 20%;
}

.offering h3 {
  font-size: 1.2rem;
  padding-top: 10px;
}


/** PERFORMANCE STYLES **/
.performance {
  padding-top: 100px;
  text-align: left;
  width: 95%;
}

.performance img {
  width: 100%;
  margin-left: 7%;
}

.performance-content {
  margin-top: 40px;
}

.performance a {
  text-decoration: none;
  font-size: .95rem;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 5px;
}

#arrow-icon {
  height: 16px;
  width: auto;
  margin-left: 2px;
  margin-bottom: -3px;
}

/** SIGN UP STYLES **/
.testimonials {
  padding-top: 100px;
  width: 95%;
}

.testimonials img {
  width: 7%;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  font-size: .85em;
  padding: 7%;
  margin: 20px auto;
  text-align: left;
  border-radius: 5px;
}

.quote {
  line-height: 1.8rem;
  margin: 0 auto 14px auto;
}

.author {
  display: inline-flex;
}

.author img {
  height: 2rem;
  width: auto;
  border-radius: 24px;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 0;
}

.author-title {
  font-size: .7em;
  letter-spacing: 0.1rem;
  margin: 0;
  padding-top: 2px;
}

/** FOOTER/BOTTOM STYLES **/
.signup-container {
  margin-top: 100px;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
}

.signup {
  width: 85%;
  margin-left: 7.5%;
  padding: 30px 0;
}

.signup button {
  background-color: hsl(176, 68%, 64%);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 40px;
  margin-top: 10px;
  width: 100%;
}

.signup button:hover {
  transform: scale(1.1);
}

/** ATTRIBUTION STYLES **/
.footer {
  padding-top: 100px;
}


@media all and (min-width: 1200px) {
  /** DESKTOP STYLES HERE **/

  /** BASE STYLES **/



}