/** BASE STYLES **/
html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

h1, h3 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

button {
  background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  border: none;
  border-radius: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  height: 40px;
  margin-top: 15px;
  width: 70%;
}

button:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;
}

/** HEADER STYLES **/
.header {
  background-color: hsl(217, 28%, 15%);
}

.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 5%;
}

.header img {
  height: auto;
  width: 25%;
}

.header nav ul {
  padding: 0;
}

.header nav ul li {
  display: inline-block;
  padding: 0 5px;
  font-size: .9em;
  font-family: 'Raleway', sans-serif;
}

/** INTRO STYLES **/
.intro {
  background: linear-gradient(hsl(217, 28%, 15%) 60%, hsl(218, 28%, 13%) 40%);
}

#background-curve-m {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 180px;
}

#background-curve-d {
  display: none;
}

.intro-container {
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.intro #illustration {
  max-width: 100%;
  margin-top: -150px;
  position: relative;
  z-index: 2;
}

.intro h1 {
  font-size: 1.7rem;
  padding-top: 20px;
  position: relative;
  z-index: 2;
}

.intro p {
  font-size: 1rem;
}

/** OFFERINGS STYLES **/
.offerings {
  background-color: hsl(218, 28%, 13%)
}

.offerings-container {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 20px;
  text-align: center;
}

.offering {
  margin-top: 80px;
}

.offering img {
  height: 60px;
  width: auto;
}

.offering h3 {
  margin-bottom: 0;
}

/** PERFORMANCE STYLES **/
.performance-container {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 100px;
}

.performance-illustration {
  max-width: 100%;
}

.performance h3 {
  padding-top: 20px;
}

.performance a {
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 7px;
}

.performance a img {
  position: relative;
  top: 3px;
}


/** TESTIMONIALS STYLES **/
.testimonials-container {
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
}

.quotation-marks {
  width: 8%;
  height: auto;
  margin-bottom: -3px;
}

.testimonial {
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  font-size: .8rem;
  line-height: 1.5rem;
  margin-bottom: 20px; 
  padding: 7%;
}

.author img {
  border-radius: 50%;
  height: auto;
  width: 12%;
}

.name-title {
  display: inline-block;
  margin-left: 10px;
}

.author-name {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.author-title {
  font-size: .85em;
  margin: 0;
  padding: 0;
}

/** SIGN-UP STYLES **/
.signup-form {
  background: linear-gradient(hsl(218, 28%, 13%) 60%, hsl(216, 53%, 9%) 40%);
}

.signup-container {
  background-color: hsl(217, 28%, 15%);
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  margin-top: 100px;
  padding: 15px 0;
  text-align: center;
}

.signup {
  width: 85%;
  margin: 40px 7.5%;
}

input {
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  height: 40px;
  margin-top: 15px;
  padding-left: 10%;
  width: 100%;
}

.signup button {
  width: 100%;
}

/** FOOTER STYLES **/
.footer {
  max-width: 100%;
  background-color: hsl(216, 53%, 9%);
}

.footer-container {
  margin-left: 10%;
  margin-top: 100px;
  max-width: 80%;
}

  /** Location done in a grid, copied from someone's solution **/
.contact {
  margin-top: 30px;
}

.location-info, .phone, .email {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  align-items: start;
}

.contact img {
  margin-top: 14px;
}


.quick-links-1, .quick-links-2 {
  margin: 40px 0 0 0;
  padding: 0;
}

.quick-links li {
  margin-top: 10px;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.social ul {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0;
  padding: 0;
}

.social ul img {
  height: 30px;
  width: auto;
}


/** ATTRIBUTION STYLES **/
footer {
  background-color: hsl(216, 53%, 9%);
  font-size: .9rem;
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
}




@media all and (min-width: 1200px) {
/** DESKTOP STYLES HERE **/

  /** BASE STYLES **/
  button {
    border-radius: 50px;
    height: 50px;
    margin-top: 15px;
    width: 40%;
  }

  /** HEADER STYLES **/
  .header img {
    width: 15%;
  }

  .header nav ul li {
    padding: 0 20px;
    font-size: 1.25em;
  }

  /** INTRO STYLES **/
  .intro {
    background: hsl(217, 28%, 15%);
  }

  #background-curve-m {
    display:none;
  }
  
  #background-curve-d {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 2;
    top: 600px;
  }
  
  .intro-container {
    width: 50%;
    margin-left: 25%;
  }

  .intro #illustration {
    margin-top: -500px;
  }

  .intro h1 {
    font-size: 3rem;
    position: relative;
    z-index: 2;
  }

  .intro p {
    font-size: 1.5rem;
    width: 90%;
    margin-left: 5%;
    position: relative;
    z-index: 2;
  }

  .intro button {
    margin-bottom: 200px;
    position: relative;
    z-index: 2;
  }

  /** OFFERINGS STYLES **/
  .offerings-container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin-left: 10%;
  }

  .offering {
    width: 32%;
    margin: 30px 9%;
  }

  /** PERFORMANCE STYLES **/
  .performance-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .performance-illustration {
    width: 45%;
  }
  
  .performance-content {
    width: 38%;
  }

  .performance h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .performance a {
    border-bottom: 1px solid hsl(176, 68%, 64%);
    padding-bottom: 7px;
  }
  
  .performance a img {
    position: relative;
    top: 3px;
  }

  /** TESTIMONIALS STYLES **/
  .testimonials-container {
    padding-top: 30px;
  }

  .testimonial-container {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .quotation-marks {
    width: 5%;
    margin-bottom: -3px;
    margin-left: -15px;
  }
  
  .testimonial {
    box-sizing: border-box;
    width: 32%;
    font-size: 1rem;
    padding: 3%;
  }

  .author {
    padding-top: 15px;
  }

  .author img {
    width: 10%;
  }
  
  .author-name {
    font-size: .75rem;
  }
  
  .author-title {
    font-size: .6rem
  }

  /** SIGN-UP STYLES **/
  .signup-container {
    width: 56%;
    margin-left: 22%;
  }

  .signup-container h3 {
    font-size: 2.5rem;
  }

  form {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-around;
  }

  input {
    width: 70%;
    padding-left: 3%;
  }
  
  .signup button {
    width: 25%;
    height: 40px;
  }

  /** FOOTER STYLES **/
  .footer-container {
    margin-left: 7.5%;
    width: 85%;
    margin-top: 60px;
  }

  .footer-info {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    width: 47%;
  }

  .location-info {
    width: 55%;
    grid-template-columns: 1fr 9fr;
  }

  .phone, .email {
    grid-template-columns: 1fr 3fr;
  }

  .contact img {
    margin-top: 17px;
  }

  .quick-links {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    width: 20%;
    margin-left: 10%;
  }

  .quick-links-1, .quick-links-2 {
    margin-top: 30px;
  }

  .social {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 40px;
    width: 10%;
    margin-left: 10%;
  }

  .social ul img {
    margin-left: 15px;
  }



/** Grid styles for Desktop
    display: grid
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    **/

  /** ATTRIBUTION STYLES **/
  footer {
    font-size: 1rem;
  }
}